ARM_CLIENT_ID ?= "appId field"
ARM_CLIENT_SECRET ?= "password field"
ARM_SUBSCRIPTION_ID ?= "id field"
ARM_TENANT_ID ?= "tenant field"
M_RG_NAME ?= "existing rg name"
M_SUBNET_NAME ?= "existing subnet name"
M_VNET_NAME ?= "existing vnet name"
EXISTING_SUBNET ?= "true"
